body{
  font-family: 'Amatic SC', cursive;
  color: #ffffff;
  font size:20px;
  overflow-x: hidden;
  background-image: url("lauris-rozentals-RyKLUffUhVM-unsplash.jpg");
  width: auto;
  height: auto;
  padding-bottom: 100%;
}

/*Navbar*/
.navbar{
  background-color: #3D1500 !important;
}

#addCard{
  background-image: url(jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
}

hr{
  height: 3px;
  width: 50px;
  background-color: #ffffff;
  border-bottom:red;
}
.btn{
  background-color: #A83B00;
  color: #ffffff;
  
/*bg img
.fixed-wrap {
  background-image: url("erol-ahmed-wKTF65TcReY-unsplash.jpg");
  width: auto;
  height: auto;
  padding-bottom: 100%;
}*/

}
.form-group{
font-family: 'Raleway', sans-serif;
}
